<!DOCTYPE html>
<html>
  <head>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
    <meta charset="UTF-8" />
    <title>뚝스딱스</title>
  </head>
  <body>
    <table>
      <tr>
        <th>id</th>
        <th>first</th>
        <th>last</th>
        <th>nick</th>
        <th>phone</th>
      </tr>
      {% for data in data_list%}
      <tr>
        <td>{{data.id}}</td>
        <td>{{data.firstName}}</td>
        <td>{{data.lastName}}</td>
        <td>{{data.nickName}}</td>
        <td>{{data.phone}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
